* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#display-book {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 36px;

}

.book-card {
  outline: 1px solid black;
  padding: 10px;
  min-width: 180px;
  height: 160px;
}

.book-card h2 {
  padding: 8px 0 24px 0;
  text-align: center;
  /* outline: 1px solid black; */
}